@charset "UTF-8";

/*@charset "UTF-8";此句一定要在第一行*/
/*CSS Reset*/
/*CSS變數*/
:root {
    --deep: #444;
    --dark: #666;
    --grey: #999;
    --light: #f1f1f1;
    /*背景*/
    --bg-1: #f2edf0;
    --bg-2: #e6ece5;
    --bg-3: #ecf0f4;
    /*輔助*/
    --lesser-1: #f3e4e4;
    --lesser-2: #;
    --lesser-3: #cdaaad;
    --lesser-4: #8f6b6d;

}

* {
    box-sizing: border-box;
    /* 不累加內距及邊框 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

    margin: 0;
    padding: 0;

}

/* 重置字體 */
body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 頁首區 */
#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    width: 55px;
}

#topbar .icon {
    display: flex;
    gap: 10px;
}

#topbar .menu {
    display: flex;
    gap: 20px;
}

#topbar .icon a {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

.icon-fb {
    background-image: url(../images/icon-fb.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
}

.icon-fb {
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line-hover.svg);
}

#topbar .menu {
    border: 2px solid
        /*保留hover的空間，以防尺寸變動*/
}

#topbar.menu a {
    margin: 10px;
}

#topbar.menu a:hover {
    color: #222;
    border-bottom: 2px solid #222;
    /*邊框-下*/
}

/*聯絡我們*/
#contact {
    display: flex;
    flex-direction:column;/*主軸垂直*/
    height: 100vh;/*主軸垂直，置中對齊*/
    background-color: var(--bg-1);
    justify-self:center;
    align-items: center;
}
* 頁首區 */
#topbar{      
    padding: 30px;
}
.logo{
    width: 55px;
}
 @font-face{
       font-family:Rosaline ;
       src:url(..//webfonts/Rosaline.ttf)
    }

   